.DS_Store
*VERSION
!lib/**/*VERSION
*.user
*.suo
*resharper.user
_ReSharper.*/
*.sln.cache
obj
bin
!lib/**/bin
temp
archive
symbols
Reports/**
specifications/**
specifications.html
junit.report.xml
nunit.results.xml
VersionOne.Domain/Sql2k/DataSchema.sql
VersionOne.Web/user.config
VersionOne.Web/scripts/_V1.js
VersionOne.Web/scripts/views/**/all.html.tmpl
VersionOne.Web/MetaDomain/UIMeta.Implementation.cs.xml
VersionOne.Web/Areas/Roadmapping
VersionOne.Setup-*.exe
user.config

# jasmine junit output
TEST-*.xml

# ignore LESS-generated CSS files
VersionOne.Web/css/_*.css
VersionOne.Web/css/action-menu.css
VersionOne.Web/css/analytics-integration.css
VersionOne.Web/css/asset-hover.css
VersionOne.Web/css/blocking-issues-indicator.css
VersionOne.Web/css/blocking-issues.css
VersionOne.Web/css/core.css
VersionOne.Web/css/detail.css
VersionOne.Web/css/field-config.css
VersionOne.Web/css/grid.css
VersionOne.Web/css/hollerapp.css
VersionOne.Web/css/matthew.css
VersionOne.Web/css/partialchrome.css
VersionOne.Web/css/regression-testing.css
VersionOne.Web/css/theme/jquery-ui.custom.css
VersionOne.Web/css/neo-ui/*.css

*.swp
*.eprj
*.orig
*.vs10x
*.vimsession
*.received.txt

/VersionOne.Web/Custom
/VersionOne.Web/Strings/*.Company.txt
